body {
  min-height: 100vh;
  background-color: rgb(226, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 300px;
  height: 525px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  background: #22252d;
  overflow: hidden;
}

form input {
  width: 90%;
  height: 150px;
  border: none;
  border-radius: 12px;
  font-size: 2rem;
  padding: 1rem;
  color: white;
  background: black;
  text-align: right;
  pointer-events: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

button {
  flex: 0 0 22%;
  margin: 5px 0;
  border: 1px solid black;
  width: 60px;
  height: 52px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.btn-yellow {
  background: rgb(245, 146, 62);
  color: white;
}

.btn-grey {
  background: rgb(223, 224, 224);
}

.btn-equal {
  background: green;
}

.btn-clear {
  background: red;
}
